[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_transmit_fg_color = "#FFFF66"
  title_inactive_fg_color = "#AEAEAE"
  title_transmit_bg_color = "#0076C9"
  inactive_color_offset = 0.82
  title_inactive_bg_color = "#000000"
[keybindings]
[profiles]
  [[default]]
    foreground_color = "#ffffff"
    scrollback_lines = 99999
    font = Mono 12
    use_system_font = False
    background_image = None
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
  [[3]]
    [[[child0]]]
      position = 0:0
      type = Window
      order = 0
      parent = ""
      size = 1920, 1027
    [[[child1]]]
      position = 370
      type = VPaned
      order = 0
      parent = child0
    [[[child3]]]
      position = 960
      type = HPaned
      order = 1
      parent = child1
    [[[terminal2]]]
      profile = default
      type = Terminal
      order = 0
      parent = child1
    [[[terminal5]]]
      profile = default
      type = Terminal
      order = 1
      parent = child3
    [[[terminal4]]]
      profile = default
      type = Terminal
      order = 0
      parent = child3
  [[4]]
    [[[child0]]]
      position = 0:0
      type = Window
      order = 0
      parent = ""
      size = 1920, 1027
    [[[child1]]]
      position = 517
      type = VPaned
      order = 0
      parent = child0
    [[[child2]]]
      position = 966
      type = HPaned
      order = 0
      parent = child1
    [[[child5]]]
      position = 966
      type = HPaned
      order = 1
      parent = child1
    [[[terminal3]]]
      profile = default
      type = Terminal
      order = 0
      parent = child2
    [[[terminal4]]]
      profile = default
      type = Terminal
      order = 1
      parent = child2
    [[[terminal7]]]
      profile = default
      type = Terminal
      order = 1
      parent = child5
    [[[terminal6]]]
      profile = default
      type = Terminal
      order = 0
      parent = child5
[plugins]
